﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<html>
<head></head>
<body>
    @foreach (var item in ViewBag.nonono)
    {
        <li>
            @item
        </li>
    }
    @TempData["msg"]
    @foreach (var item in (string[])ViewData["nonono"])
    {
        <li>
            @item
        </li>
    }

</body>

</html>
